
<div class="container">

  <nav class="navbar navbar-light bg-faded">
      <ul class = "nav navbar-nav">

        <li>
          <a routerLinkActive = "active" class="navbar-brand" routerLink = "signup">SignUp</a>
        </li>
        <li>
          <a routerLinkActive = "active" class="navbar-brand" routerLink = "home">home</a>
        </li>

        <li>
            <a routerLinkActive = "active" routerLink = "login">Login</a>
          </li>

          <li>
            <a routerLinkActive = "active" routerLink = "login-t">Login-Teacher</a>
          </li>



          <li>
            <a routerLinkActive = "active" [routerLink] = "['teachername']">teachername</a>
          </li>



      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
