<div class="container">

  <nav class="navbar navbar-default">
      <ul class = "nav navbar-nav">

        <li>
          <a routerLinkActive = "active" routerLink = "signup">SignUp</a>
        </li>


        <li>
            <a routerLinkActive = "active" routerLink = "login">Login</a>
          </li>

          <li>
            <a routerLinkActive = "active" routerLink = "login-t">Login-T</a>
          </li>

          <li>
            <a routerLinkActive = "active" routerLink = "signup-t">SignUp-T</a>
          </li>

          <li>
            <a routerLinkActive = "active" routerLink = "teachername">teachername</a>
          </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
