<!-- <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
         Slide One - Set the background image for this slide in the line below
        <div class="carousel-item active" style="background-image: url('../../assets/img/andrew-neel-308138-unsplash.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>First Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
         Slide Two - Set the background image for this slide in the line below
        <div class="carousel-item" style="background-image: url('../../assets/img/thought-catalog-214785-unsplash.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>
         Slide Three - Set the background image for this slide in the line below
        <div class="carousel-item" style="background-image: url('../../assets/img/alexander-michl-724529-unsplash.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>



  <div class="container">

      <h1 class="my-4">Welcome to Modern Business</h1>


      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>









 -->





  <!-- Preloader -->
  <!-- <div id="preloader">
      <div id="status">&nbsp;</div>
  </div> -->
      <div class="header_top">
          <div class="container">
              <div class="row">
                  <div class="col-12 col-sm-12 col-lg-12">
                      <div class="info_wrapper">
                          <div class="contact_info">
                    <ul class="list-unstyled">
                                  <li><i class="flaticon-phone-receiver"></i>+000-2356-222</li>
                                  <li><i class="flaticon-mail-black-envelope-symbol"></i>contact@yourdomain.com</li>
                    </ul>
                          </div>
                          <div class="login_info">
                               <ul class="d-flex">
                                  <li class="nav-item"><a href="#" class="nav-link sign-in js-modal-show"><i class="flaticon-user-male-black-shape-with-plus-sign"></i>Sign Up</a></li>
                                  <li class="nav-item"><a href="#" class="nav-link join_now js-modal-show"><i class="flaticon-padlock"></i>Lon In</a></li>
                              </ul>
                              <a href="#" title="" class="apply_btn">Apply Now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- <div class="edu_nav">
          <div class="container">
              <nav class="navbar navbar-expand-md navbar-light bg-faded">
                  <a class="navbar-brand" href="index-2.html"><img src="images/logo2.png" alt="logo"></a>
                  <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
                      <ul class="navbar-nav nav lavalamp ml-auto menu">
                          <li class="nav-item"><a href="#" class="nav-link active">Home</a>
                              <ul class="navbar-nav nav mx-auto">
                                  <li class="nav-item"><a href="index-2.html" class="nav-link">Home Version 01</a></li>
                                  <li class="nav-item"><a href="index-3.html" class="nav-link">Home Version 02</a></li>
                                  <li class="nav-item"><a href="index-4.html" class="nav-link">Home Version 03</a></li>
                                  <li class="nav-item"><a href="index-5.html" class="nav-link">Home Version 04</a></li>
                              </ul>
                          </li>
                          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                          <li class="nav-item"><a href="course.html" class="nav-link">Courses</a>
                              <ul class="navbar-nav nav mx-auto">
                                  <li class="nav-item"><a href="course.html" class="nav-link">Courses</a></li>
                                  <li class="nav-item"><a href="course-details.html" class="nav-link">Courses Details</a></li>
                              </ul>
                          </li>
                          <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a>
                              <ul class="navbar-nav nav mx-auto">
                                  <li class="nav-item"><a href="blog.html" class="nav-link">Blog List</a></li>
                                  <li class="nav-item"><a href="blog-2.html" class="nav-link">Blog Grid One</a></li>
                                  <li class="nav-item"><a href="blog-3.html" class="nav-link">Blog Grid Two</a></li>
                                  <li class="nav-item"><a href="blog-details.html" class="nav-link">Blog Details</a></li>
                              </ul>
                          </li>
                          <li class="nav-item"><a href="#" class="nav-link">Pages</a>
                              <ul class="navbar-nav nav mx-auto">
                                  <li class="nav-item"><a href="#" class="nav-link dropdown_icon">Courses</a>
                                      <ul class="navbar-nav nav mx-auto">
                                          <li class="nav-item"><a href="course.html" class="nav-link">Courses</a></li>
                                          <li class="nav-item"><a href="course-details.html" class="nav-link">Courses Details</a></li>
                                      </ul>
                                  </li>
                                  <li class="nav-item"><a href="#" class="nav-link dropdown_icon">Events</a>
                                      <ul class="navbar-nav nav mx-auto">
                                          <li class="nav-item"><a href="event.html" class="nav-link">Event</a></li>
                                          <li class="nav-item"><a href="event-details.html" class="nav-link">Event Details</a></li>
                                      </ul>
                                  </li>
                                  <li class="nav-item"><a href="#" class="nav-link dropdown_icon">Blog</a>
                                      <ul class="navbar-nav nav mx-auto">
                                          <li class="nav-item"><a href="blog.html" class="nav-link">Blog List</a></li>
                                          <li class="nav-item"><a href="blog-2.html" class="nav-link">Blog Grid One</a></li>
                                          <li class="nav-item"><a href="blog-3.html" class="nav-link">Blog Grid Two</a></li>
                                          <li class="nav-item"><a href="blog-details.html" class="nav-link">Blog Details</a></li>
                                      </ul>
                                  </li>
                                  <li class="nav-item"><a href="become-a-teacher.html" class="nav-link">Become A Teacher</a></li>
                                  <li class="nav-item"><a href="teacher-profile.html" class="nav-link">Teachers Profile</a></li>
                                  <li class="nav-item"><a href="team.html" class="nav-link">Teachers Page</a></li>
                                  <li class="nav-item"><a href="forgot-password.html" class="nav-link">Forgot Password</a></li>
                              </ul>
                          </li>
                          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                      </ul>
                  </div>
                  <div class="mr-auto search_area ">
                      <ul class="navbar-nav mx-auto">
                          <li class="nav-item"><i class="search_btn flaticon-magnifier"></i>
                              <div id="search">
                                  <button type="button" class="close">×</button>
                                   <form>
                                       <input type="search" value="" placeholder="Search here...."  required/>
                                   </form>
                              </div>
                          </li>
                      </ul>
                  </div>
              </nav><!-- END NAVBAR -->
          <!-- </div>
      </div> --> -->
