





	<div id="fh5co-staff">
    <ul  *ngFor="let teacher of Teachername">
      <li class="text-success">
          {{teacher.username}}
          </li>

          <!-- <li class="text-success">
              {{teacher.username}}
              </li>

              <li class="text-success">
                  {{teacher.username}}
                  </li>

                  <li class="text-success">
                      {{teacher.username}}
                      </li> -->
                      </ul>

      <div class="container">
        <div class="row">
          <div class="col-md-3 text-center">
            <div class="staff">
              <div class="staff-img" style="background-image: url(../../../../assets/images/staff-1.jpg);">
                <ul class="fh5co-social">
                  <li><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li><a href="#"><i class="icon-twitter2"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                  <li><a href="#"><i class="icon-github"></i></a></li>
                </ul>
              </div>
              <span>Health Teacher</span>
              <h3><a href="#">a</a></h3>
              <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
            </div>
          </div>
          <div class="col-md-3 animate-box text-center">
            <div class="staff">
              <div class="staff-img" style="background-image: url(../../../../assets/images/staff-2.jpg);">
                <ul class="fh5co-social">
                  <li><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li><a href="#"><i class="icon-twitter2"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                  <li><a href="#"><i class="icon-github"></i></a></li>
                </ul>
              </div>
              <span>Health Teacher</span>
              <h3><a href="#">q</a></h3>
              <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
            </div>
          </div>
          <div class="col-md-3 animate-box text-center">
            <div class="staff">
              <div class="staff-img" style="background-image: url(../../../../assets/images/staff-3.jpg);">
                <ul class="fh5co-social">
                  <li><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li><a href="#"><i class="icon-twitter2"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                  <li><a href="#"><i class="icon-github"></i></a></li>
                </ul>
              </div>
              <span>Health Teacher</span>
              <h3><a href="#">e</a></h3>
              <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
            </div>
          </div>
          <div class="col-md-3 animate-box text-center">
            <div class="staff">
              <div class="staff-img" style="background-image: url(../../../../assets/images/staff-1.jpg);">
                <ul class="fh5co-social">
                  <li><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li><a href="#"><i class="icon-twitter2"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                  <li><a href="#"><i class="icon-github"></i></a></li>
                </ul>
              </div>
              <span>Health Teacher</span>
              <h3><a href="#">r</a></h3>
              <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
            </div>
          </div>
          <div class="col-md-3 animate-box text-center">
            <div class="staff">
              <div class="staff-img" style="background-image: url(../../../../assets/images/staff-1.jpg);">
                <ul class="fh5co-social">
                  <li><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li><a href="#"><i class="icon-twitter2"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                  <li><a href="#"><i class="icon-github"></i></a></li>
                </ul>
              </div>
              <span>Health Teacher</span>
              <h3><a href="#">y</a></h3>
              <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
            </div>
          </div>
          <div class="col-md-3 animate-box text-center">
            <div class="staff">
              <div class="staff-img" style="background-image: url(../../../../assets/images/staff-3.jpg);">
                <ul class="fh5co-social">
                  <li><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li><a href="#"><i class="icon-twitter2"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                  <li><a href="#"><i class="icon-github"></i></a></li>
                </ul>
              </div>
              <span>Health Teacher</span>
              <h3><a href="#">m</a></h3>
              <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
            </div>
          </div>
          <div class="col-md-3 animate-box text-center">
            <div class="staff">
              <div class="staff-img" style="background-image: url(../../../../assets/images/staff-2.jpg);">
                <ul class="fh5co-social">
                  <li><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li><a href="#"><i class="icon-twitter2"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                  <li><a href="#"><i class="icon-github"></i></a></li>
                </ul>
              </div>
              <span>Health Teacher</span>
              <h3><a href="#">x</a></h3>
              <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
            </div>
          </div>
          <div class="col-md-3 animate-box text-center">
            <div class="staff">
              <div class="staff-img" style="background-image: url(../../../../assets/images/staff-3.jpg);">
                <ul class="fh5co-social">
                  <li><a href="#"><i class="icon-facebook2"></i></a></li>
                  <li><a href="#"><i class="icon-twitter2"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                  <li><a href="#"><i class="icon-github"></i></a></li>
                </ul>
              </div>
              <span>Health Teacher</span>
              <h3><a href="#">z</a></h3>
              <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
            </div>
          </div>
        </div>
      </div>


      <div class="panel-footer">
          <div class="btn-toolbar" >
              <button (click)="handleClick()" type="button" class="btn btn-primary">Button</button>
            <!-- <button class="btn btn-primary" type="submit" > Save </button> -->
            <!-- <button [routerLink]="['/signup']" class="btn btn-primary">Register</button> -->

            </div>
            </div>

