<header class="header_inner courses_page">









<div class="intro_wrapper">
  <div class="container">
      <div class="row">
           <div class="col-sm-12 col-md-8 col-lg-8">
              <div class="intro_text">
                  <h1>Courese Page</h1>
                  <div class="pages_links">
                      <a routerLink="home" title="">Home</a>
                      <a href="#" title="" class="active">Course Page</a>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
</header> <!-- End Header -->








<!--Start Courses Area Section-->
<section class="popular_courses" id="popular_courses_page">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
              <div class="single-courses">
                  <div class="courses_banner_wrapper">
                      <div class="courses_banner"><a href="https://www.youtube.com/watch?v=1mLQFm3wEfw"><img src="../../assets/images/courses/courses_1.jpg" alt="" class="img-fluid"></a></div>
                      <div class="purchase_price">
                          <a href="#" class="read_more-btn">$150</a>
                      </div>
                  </div>
                  <div class="courses_info_wrapper">
                      <div class="courses_title">
                          <h3><a href="https://www.youtube.com/watch?v=1mLQFm3wEfw">Make Better Decisions</a></h3>
                          <div class="teachers_name">Teacher - <a href="https://www.youtube.com/watch?v=1mLQFm3wEfw" title="">Jhonthan Smith</a></div>
                      </div>
                      <div class="courses_info">
                          <ul class="list-unstyled">
                              <li><i class="fas fa-user"></i>180 Days</li>
                              <li><i class="fas fa-calendar-alt"></i>30 Students</li>
                          </ul>
                          <a href="#" class="cart_btn">Add to Cart</a>
                      </div>
                  </div>
              </div><!-- Ends: .single courses -->
          </div><!-- Ends: . -->



          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
              <div class="single-courses">
                  <div class="courses_banner_wrapper">
                      <div class="courses_banner"><a href="https://www.youtube.com/watch?v=i0a61wFaF8A"><img src="../../assets/images/courses/courses_2.jpg" alt="" class="img-fluid"></a></div>
                      <div class="purchase_price">
                          <a href="#" class="read_more-btn">Free</a>
                      </div>
                  </div>
                  <div class="courses_info_wrapper">
                      <div class="courses_title">
                          <h3><a href="https://www.youtube.com/watch?v=i0a61wFaF8A">How To Be A Speaker</a></h3>
                          <div class="teachers_name">Teacher - <a href="https://www.youtube.com/watch?v=i0a61wFaF8A" title="">Denise Wood</a></div>
                      </div>
                      <div class="courses_info">
                          <ul class="list-unstyled">
                              <li><i class="fa fa-user"></i> 180 Days</li>
                              <li><i class="fa fa-comment"></i>50 Students</li>
                          </ul>
                          <a href="#" class="cart_btn">Add to Cart</a>
                      </div>
                  </div>
              </div><!-- Ends: .single courses -->
          </div><!-- Ends: . -->

          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
              <div class="single-courses">
                  <div class="courses_banner_wrapper">
                      <div class="courses_banner"><a href="#"><img src="../../assets/images/courses/courses_3.jpg" alt="" class="img-fluid"></a></div>
                      <div class="purchase_price">
                          <a href="#" class="read_more-btn">120$</a>
                      </div>
                  </div>
                  <div class="courses_info_wrapper">
                      <div class="courses_title">
                          <h3><a href="https://www.udemy.com/overlay-sdn-network-virtualization-vmware-nsx-nuage-networks/">Network Introductions</a></h3>
                          <div class="teachers_name">Teacher - <a href="https://www.udemy.com/overlay-sdn-network-virtualization-vmware-nsx-nuage-networks/" title="">Preston Marshall</a></div>
                      </div>
                      <div class="courses_info">
                          <ul class="list-unstyled">
                              <li><i class="fa fa-user"></i> 140 Days</li>
                              <li><i class="fa fa-comment"></i>60 Students</li>
                          </ul>
                          <a href="#" class="cart_btn">Add to Cart</a>
                      </div>
                  </div>
              </div><!-- Ends: .single courses -->
          </div><!-- Ends: . -->

          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
              <div class="single-courses">
                  <div class="courses_banner_wrapper">
                      <div class="courses_banner"><a href="#"><img src="../../assets/images/courses/courses_4.jpg" alt="" class="img-fluid"></a></div>
                      <div class="purchase_price">
                          <a href="#" class="read_more-btn">250$</a>
                      </div>
                  </div>
                  <div class="courses_info_wrapper">
                      <div class="courses_title">
                          <h3><a href="https://www.udemy.com/15-steps-to-improve-your-visual-identity/">Brand Management</a></h3>
                          <div class="teachers_name">Teacher - <a href="https://www.udemy.com/15-steps-to-improve-your-visual-identity/" title="">John Porter</a></div>
                      </div>
                      <div class="courses_info">
                          <ul class="list-unstyled">
                              <li><i class="fa fa-user"></i> 130 Days</li>
                              <li><i class="fa fa-comment"></i>45 Students</li>
                          </ul>
                          <a href="#" class="cart_btn">Add to Cart</a>
                      </div>
                  </div>
              </div><!-- Ends: .single courses -->
          </div><!-- Ends: . -->

          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
              <div class="single-courses">
                  <div class="courses_banner_wrapper">
                      <div class="courses_banner"><a href="#"><img src="../../assets/images/courses/courses_5.jpg" alt="" class="img-fluid"></a></div>
                      <div class="purchase_price">
                          <a href="#" class="read_more-btn">180$</a>
                      </div>
                  </div>
                  <div class="courses_info_wrapper">
                      <div class="courses_title">
                          <h3><a href="#">Moralities Of Everyday</a></h3>
                          <div class="teachers_name">Teacher - <a href="#" title="">Mittie Hill</a></div>
                      </div>
                      <div class="courses_info">
                          <ul class="list-unstyled">
                              <li><i class="fa fa-user"></i> 190 Days</li>
                              <li><i class="fa fa-comment"></i>40 Students</li>
                          </ul>
                          <a href="#" class="cart_btn">Add to Cart</a>
                      </div>
                  </div>
              </div><!-- Ends: .single courses -->
          </div><!-- Ends: . -->

          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
              <div class="single-courses">
                  <div class="courses_banner_wrapper">
                      <div class="courses_banner"><a href="#"><img src="../../assets/images/courses/courses_6.jpg" alt="" class="img-fluid"></a></div>
                      <div class="purchase_price">
                          <a href="#" class="read_more-btn">130$</a>
                      </div>
                  </div>
                  <div class="courses_info_wrapper">
                      <div class="courses_title">
                          <h3><a href="#">Life Coach Training</a></h3>
                          <div class="teachers_name">Teacher - <a href="#" title="">Marian Dupre</a></div>
                      </div>
                      <div class="courses_info">
                          <ul class="list-unstyled">
                              <li><i class="fa fa-user"></i> 150 Days</li>
                              <li><i class="fa fa-comment"></i>30 Students</li>
                          </ul>
                          <a href="#" class="cart_btn">Add to Cart</a>
                      </div>
                  </div>
              </div><!-- Ends: .single courses -->
          </div><!-- Ends: . -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
              <div class="single-courses">
                  <div class="courses_banner_wrapper">
                      <div class="courses_banner"><a href="#"><img src="../../assets/images/courses/courses_3.jpg" alt="" class="img-fluid"></a></div>
                      <div class="purchase_price">
                          <a href="#" class="read_more-btn">250$</a>
                      </div>
                  </div>
                  <div class="courses_info_wrapper">
                      <div class="courses_title">
                          <h3><a href="#">Brand Management</a></h3>
                          <div class="teachers_name">Teacher - <a href="#" title="">John Porter</a></div>
                      </div>
                      <div class="courses_info">
                          <ul class="list-unstyled">
                              <li><i class="fa fa-user"></i> 130 Days</li>
                              <li><i class="fa fa-comment"></i>45 Students</li>
                          </ul>
                          <a href="#" class="cart_btn">Add to Cart</a>
                      </div>
                  </div>
              </div><!-- Ends: .single courses -->
          </div><!-- Ends: . -->

          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
              <div class="single-courses">
                  <div class="courses_banner_wrapper">
                      <div class="courses_banner"><a href="#"><img src="../../assets/images/courses/courses_1.jpg" alt="" class="img-fluid"></a></div>
                      <div class="purchase_price">
                          <a href="#" class="read_more-btn">180$</a>
                      </div>
                  </div>
                  <div class="courses_info_wrapper">
                      <div class="courses_title">
                          <h3><a href="#">Moralities Of Everyday</a></h3>
                          <div class="teachers_name">Teacher - <a href="#" title="">Mittie Hill</a></div>
                      </div>
                      <div class="courses_info">
                          <ul class="list-unstyled">
                              <li><i class="fa fa-user"></i> 190 Days</li>
                              <li><i class="fa fa-comment"></i>40 Students</li>
                          </ul>
                          <a href="#" class="cart_btn">Add to Cart</a>
                      </div>
                  </div>
              </div><!-- Ends: .single courses -->
          </div><!-- Ends: . -->

          <div class="col-12 col-sm-6 col-md-6 col-lg-4">
              <div class="single-courses">
                  <div class="courses_banner_wrapper">
                      <div class="courses_banner"><a href="#"><img src="../../assets/images/courses/courses_2.jpg" alt="" class="img-fluid"></a></div>
                      <div class="purchase_price">
                          <a href="#" class="read_more-btn">130$</a>
                      </div>
                  </div>
                  <div class="courses_info_wrapper">
                      <div class="courses_title">
                          <h3><a href="#">Life Coach Training</a></h3>
                          <div class="teachers_name">Teacher - <a href="#" title="">Marian Dupre</a></div>
                      </div>
                      <div class="courses_info">
                          <ul class="list-unstyled">
                              <li><i class="fa fa-user"></i> 150 Days</li>
                              <li><i class="fa fa-comment"></i>30 Students</li>
                          </ul>
                          <a href="#" class="cart_btn">Add to Cart</a>
                      </div>
                  </div>
              </div><!-- Ends: .single courses -->
          </div><!-- Ends: . -->
          <div class="pagination_blog">
              <ul>
                  <li><a href="#">1</a></li>
                  <li class="current"><a href="#">2</a></li>
                  <li><a href="#" class=""><i class='flaticon-right-arrow'></i></a></li>
              </ul>
          </div>
      </div>

  </div>
</section><!-- ./ End Courses Area section -->
